.navbar{
    min-height:30px !important;
    background-color: cadetblue;
}

.nav-item , .dropdown{
    color: azure;
    margin: 5px;
}

.dropdown > #dropdownMenuButton {
    background: transparent;
    border: transparent;
}